<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  </form>

  <button type="button" class="btn btn-primary mb-3 calendar-arrow lefta">
    <span class="fa fa-arrow-left"></span>
  </button>
  <div class="col-4 text-center">
    <div class="blog-header-logo text-dark" href="#">
      Année scolaire : 2020-2021
    </div>
  </div>
  <button type="button" class="btn btn-primary mb-3 calendar-arrow lefta">
    <span class="fa fa-arrow-right"></span>
  </button>
  <a
    class="btn btn-sm btn-outline-secondary"
    (click)="authService.SignOut()"
    href="#"
  >
    Déconnexion</a
  >
</nav>
